<div class="card-deck mt-5">
    <% for(santo of santos) { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= santo.nome %></h5>
            <p class="card-text">Portador: <%= santo.portador %></p>
            <p class="card-text"><small class="text-muted">Último sorteio: <%= santo.ultimoSorteio %></small></p>
            <a href="/sortear/<%= santo.id%>" class="btn btn-outline-primary">Sortear</a>
            <a href="/zerar/<%= santo.id%>" class="btn btn-outline-warning">Zerar integrantes</a>
        </div>
    </div>
    <% } %>
</div>